* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 100%;
    height: 11vh;
    color: white;
    background-color: #8fe507;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 3px 3px rgb(0 0 0 / 20%);
}

h1{
    font-size: 3em;
}

aside{
    width: 20%;
    height: 26%;
    border: 1px solid #8fe507;
    position: absolute;
    top: 100px;
    left: 50px;
    text-align: center;
}


aside li{
    list-style-type: none;
}

h2{
    width: 100%;
    height: auto;
    color: white;
    background-color:#8fe507;
    margin-bottom: 20px;
    text-align: center;
}

form, table{
    margin-top: 2.5vh;
    font-size: 1.5rem;
}

form{
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

input, select{
    border: 4px solid black;
}

input[type=number], input[type=date], select{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.error{
    color: #dc3545;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

button{
    width: auto;
    min-width: 180px;
    height: 60px;
    color: white;
    background-color: #8fe507;
    padding: 1rem 1.5rem;
    border: none;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bold;;
}

.tableContainer{
    width: 95%;
    height: 75%;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    padding: 1%;
    border: 4px solid black;
    text-align: center;
}

a{
    color: #8fe507;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
}

/* #row{
    display: none;
} */